<a href="https://colab.research.google.com/github/pararthdave/DSA/blob/main/DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 1. Let us say your expense for every month are listed below,
- January - 2200
- February - 2350
- March - 2600
- April - 2130
- May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [24]:
month_expense={
    "Jan":2200,
    "Feb":2350,
    "Mar":2600,
    "Apr":2130,
    "May":2190
}
print("1. ",month_expense['Jan']-month_expense['Feb'])
print("2. ",month_expense['Jan']+month_expense['Feb']+month_expense['Mar'])
for i in month_expense:
  if month_expense[i]==2000:
    print("3. ",i)
  else:
    print("3. None")
    break
month_expense['Jun']=1980
print("4. ", month_expense)
month_expense['Apr']-=200
print("5. ", month_expense)

1.  -150
2.  7150
3. None
4.  {'Jan': 2200, 'Feb': 2350, 'Mar': 2600, 'Apr': 2130, 'May': 2190, 'Jun': 1980}
5.  {'Jan': 2200, 'Feb': 2350, 'Mar': 2600, 'Apr': 1930, 'May': 2190, 'Jun': 1980}

##### 2. You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [32]:
heros=['spider man','thor','hulk','iron man','captain america']
print("1. ",len(heros))
heros.append("black panther")
print("2. ",heros)
heros.pop(-1)
heros.insert(3,'black panther')
print("3. ",heros)
heros[1:3]=['doctor strange']
print("4. ",heros)
heros.sort()
print("5. ",heros)

1.  5
2.  ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
3.  ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
4.  ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
5.  ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

##### 3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [34]:
def listfunc(max):
  lst=[]
  for i in range(max):
    if i%2!=0:
      lst.append(i)
  return lst
print(listfunc(23))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]